<div class="center">
    <div class="logo">
        <img src="/images/logo.png"></img>
    </div>
    <h1>mApp</h1>
    <h4>This is a word play. Map and App. Please don't judge us.</h4>
	<div id="searchfield">
		<input type="text" placeholder="Username"/>
		<div id="searchbutton">
			Search
		</div>
	</div>
    <div id="loader">Bitte warten...</div>
</div>
