<!-- Hier kommen die Suchfelder hin-->	
		<div id="searchfield">
			<input type="text" placeholder="Username"/>
			<div id="searchbutton">
				Search
			</div>
		</div>
		<div id="searchtype">
			<div class="active">
				follower
			</div>
			<div>
				following
			</div>
		</div>
<!-- Hier wird die Map angezeigt-->
		<div id="container"></div>
		<script>
            $(function(){
                $('#searchfield input').val($.QueryString['user']);
            });
		</script>
