<!DOCTYPE html>
<html>
	<head>
        <link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<title>mApp</title>
		<script type="text/javascript">
			var mySelf = <%= @myself %>
			var friends = <%= @friends %> 
		</script>
        
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>
		<script src="http://d3js.org/topojson.v1.min.js"></script>
		<script src="/scripts/datamaps.world.min.js"></script>
        <script src="/scripts/querystring.js"></script>
		
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="/styles/style.css"/>
        
        <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="/scripts/search.js"></script>
        <script src="/scripts/popup.js"></script>
        <script src="/scripts/imageBubble.js"></script>
        <script src="/scripts/map.js"></script>
	</head>
	<body>
        <%= yield %>
        <div id="footer">
            <span>&copy; 2014-<%= Time.now.year %> by <a href="http://zeilenwerk.ch" target="_blank">zeilenwerk</a></span>
        </div>
    </body>
</html>
