html, body, #container {
    font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
    background-color: #222;
    color: #CCC;
	margin: 0px;
}

h1 {
    font-weight: 700;
    font-size: 80px;
	margin-top:-10px;
}

h3 {
	font-size:15px;
}

h5 {
	font-weight: 300;
}

image {
	filter: url(/images/grey.svg#grayscale); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(1);
}

#container {
	position: absolute;
	top: 60px;
}

#searchfield, #searchtype {
	margin: 30px auto;
	width: 280px;
}

#searchfield input, #searchbutton {
	margin: 0px;
	padding: 5px 8px;
	border: 1px solid #AAA;
	
	font-family: Verdana, sans-serif;
	font-size: 12pt;
}

#searchfield input {
	float: left;
	outline: none;
}

#searchbutton {
	float: right;
	color: #FFF;
	border-color: #77E;
	background-color: #88F;
}
#searchbutton:hover {
	border-color: #66D;
	background-color: #77E;
	cursor: pointer; cursor: hand;
}

#searchtype {
	padding-left: 10px;
}
#searchtype div {
	float: left;
	/*width: 140px;*/
	padding: 12px 20px 0px 0px;
	
	font-family: Verdana, sans-serif;
	font-size: 12pt;
	color: #444;
}
#searchtype div::before {
	content: "◦";
	font-size: 32px;
	color: #888;
	
	margin: -10px 6px 0px 0px;
	display: block;
	float: left;
}
#searchtype div.active::before {
	content: "•";
	font-size: 20px;
	
	margin: -3px 6px 0px 0px;
}

#loader {
    display: none;
}

#footer {
    background-color: #444;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    position: absolute;
    bottom: 20px;
    text-align: center;
}

div.ui-tooltip {
    width: 200px;
}
 
.center {
    text-align: center;
}

.logo img {
	height:200px;
	width:200px;
	margin: 15px 0px 0px 0px;
}

.ui-tooltip img {
	width: 100%;
}